{% extends "wx_templates/wx_base.html" if client==1 else "ap_templates/ap_base.html" %}
{% if client==1 %}
    {% import "wx_templates/wx_components.html" as component %}
{% else %}
    {% import "ap_templates/ap_components.html" as component %}
{% endif %}

{% block content_hd %}

{% endblock %}
{% block content_bd %}

{% endblock %}
{% block content_ft %}
    {{ component.button("扫码开门","scanCode()") }}
{% endblock %}
{% block script %}
    {{ super() }}
    {% if client==1 %}
        <script>
            wx.config({
                debug: true,
                appId: "{{config['appId']}}",
                timestamp: "{{config['timestamp']}}",
                nonceStr: "{{config['noncestr']}}",
                signature: "{{config['sign']}}",
                jsApiList: ["scanQRCode"]
            })
        </script>
        <script src="/static/wx_scripts/index.js"></script>
    {% elif client==2 %}

    {% endif %}
{% endblock %}
