{% extends "wx_templates/wx_base.html" if client==1 else "ap_templates/ap_base.html" %}
{% if client==1 %}
    {% import "wx_templates/wx_components.html" as component %}
{% else %}
    {% import "ap_templates/ap_components.html" as component %}
{% endif %}
{% import "common/util.html" as util %}
{% block content_hd %}
    {{ util.rowSpace(1) }}
    {{ util.icon("/static/logo.png") }}
    {{ util.rowSpace(2) }}
{% endblock %}
{% block content_bd %}
    {{ component.loginForm("/login") }}
    {{ util.rowSpace(1) }}
    <!--协议 -->
    {{ component.check("《相关条款》") }}
    <!--确认 -->
    {{ component.button("确定","submit()") }}

{% endblock %}
{% block script %}
    {{ super() }}
    {% if error %}
        <script>
            $.toast("{{ error }}", "cancel")
        </script>
    {% endif %}
    <script src="/static/wx_scripts/login.js"></script>
{% endblock %}
